<!-- Large modal -->

<div class="modal custom1 fade" id="compareAllModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content1">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="band2">
        <div class=".col-md-4">
          <img id= "comparecard1" class="cardImage" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard2" class="cardImage" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard3" class="cardImage" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard4" class="cardImage" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard5" class="cardImage" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard6" class="cardImage" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard7" class="cardImage" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>
      

      </div>
    </div>
  </div>
</div>