<div id="content1" class="cbContent1">
  <div id="cards1" class="cbCards1 organon-card">
  <%= render "tarot7/carddeck" %>
  </div> 
      <div id="2cards"><%= render "tarot2/2cards" %></div> 
    
</div>
    <img id="tarot" class="cbShuffle" alt="" src="../imagesxx/shuffle.png" title="Shuffle cards" onclick="shuffleCards()" >
    <img class="cbShuffle" alt="" src="../imagesxx/flip.png" style="top: 95%"; title="Flip cards" onclick="return flip()" >     <img class="cbShuffle" alt="" src="../imagesxx/button05.png" style="top: 95%; left: 1%;"; title="Clear cards" onclick="return ClearCard()" >




<script>

function compare(abc) {
    document.getElementById("comparecard1").src = "/images03/mycard" + abc + ".jpg";
    document.getElementById("comparecard2").src = "/images05/mycard" + abc + ".jpg";
    document.getElementById("comparecard3").src = "/images04/mycard" + abc + ".jpg";
    document.getElementById("comparecard4").src = "/images02/mycard" + abc + ".jpg";
    document.getElementById("comparecard5").src = "/images01/mycard" + abc + ".jpg";
    document.getElementById("comparecard6").src = "/images06/mycard" + abc + ".jpg";
    document.getElementById("comparecard7").src = "/images07/mycard" + abc + ".jpg";
}
   
function shuffleCards(){
  $.ajax({
    url: "tarot.html",
    cache: false,
    success: function(data){
        $("#cards1").load(location.href + " #cards1>*", "");
    } 
  });
}

function ClearCard(){
  $.ajax({
    url: "tarot.html",
    cache: false,
    success: function(data){
        $("#spread1").load(location.href + " #spread1>*", "");
    } 
  });
}

function allowDrop(ev) {
  ev.preventDefault();
    $(ev.target).css('background-color','#d3d3d3');
}

function removeStyle(ev) {
     $(ev.target).removeAttr('style');
}

$('.cbCrd1').hover(makeBigger, returnToOriginalSize);

function makeBigger() {
    $(this).css({height: '+=50%', width: '+=50%'});
}
function returnToOriginalSize() {
    $(this).css({height: "", width: ""});
}

var dragIcon = document.createElement('img');
dragIcon.src = '../<%= @name %>/CardBack.jpg';
var all_draggable_elements = document.getElementsByClassName('mgCard organon-card-front');
for (var i = 0; i < all_draggable_elements.length; i++) {
    all_draggable_elements[i].addEventListener('dragstart', function(event) {
        event.dataTransfer.setDragImage(dragIcon, 150, 350);
    });
}


</script>

