<!-- Card Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a id="back-to-encyclopedia" href="#" data-dismiss="modal" data-toggle="modal" data-target="#encyclopedia"><i class="fa fa-lg fa-university"></i></a>
        <h4 class="modal-title" id="myModalLabel">Card Title</h4>
        <ul class="modal-keywords">
        </ul>
      </div>
      <div class="modal-body">
        <img class="modal-image" src="" alt=""></img>
        <span class="modal-archetype"><p class="modal-heading"><i class="fa fa-user"></i>Archetype:</p><p class="modal-description"></p></span>
        <span class="modal-numerology"><p class="modal-heading"><i class="fa fa-hashtag"></i>Numerology:</p><p class="modal-description"></p></span>
        <span class="modal-hebrew"><p class="modal-heading"><i class="fa fa-header"></i>Hebrew Alphabet:</p><p class="modal-description"></p></span>
        <span class="modal-elemental"><p class="modal-heading"><i class="fa fa-fire"></i>Elemental:</p><p class="modal-description"></p></span>
        <span class="modal-astrology"><p class="modal-heading"><i class="fa fa-mercury"></i>Astrology:</p><p class="modal-description"></p></span>
        <span class="modal-planetary"><p class="modal-heading"><i class="fa fa-mercury"></i>Planetary/Astrological/Elemental:</p><p class="modal-description"></p></span>
        <span class="modal-mythical"><p class="modal-heading"><i class="fa fa-university"></i>Mythical/Spiritual:</p><p class="modal-description"></p></span>
        <span class="modal-affirmation"><p class="modal-heading"><i class="fa fa-commenting"></i>Affirmation:</p><p class="modal-description"></p></span>
        <span class="modal-personality"><p class="modal-heading"><i class="fa fa-user"></i>Personality:</p><p class="modal-description"></p></span>
        <span class="modal-light"><p class="modal-heading"><i class="fa fa-sun-o"></i>Light:</p><p class="modal-description"></p></span>
        <span class="modal-shadow"><p class="modal-heading"><i class="fa fa-moon-o"></i>Shadow:</p><p class="modal-description"></p></span>
        <span class="modal-story"><p class="modal-heading"><i class="fa fa-book"></i>Story:</p><p class="modal-description"></p></span>
        <span class="modal-relationships"><p class="modal-heading"><i class="fa fa-heart"></i>Relationships:</p><p class="modal-description"></p></span>
        <span class="modal-work"><p class="modal-heading"><i class="fa fa-briefcase"></i>Work:</p><p class="modal-description"></p></span>
        <span class="modal-spirituality"><p class="modal-heading">
            <span class="fa-arcanum fa-stack">
              <i class="fa fa-sun-o fa-stack-2x"></i>
              <i class="fa fa-eye fa-lg fa-stack-1x"></i>
            </span>
          Spirituality:</p><p class="modal-description"></p></span>
        <span class="modal-personal"><p class="modal-heading"><i class="fa fa-user-plus"></i>Personal Growth:</p><p class="modal-description"></p></span>
        <span class="modal-fortune"><p class="modal-heading"><i class="fa fa-magic"></i>Fortune Telling:</p><p class="modal-description"></p></span>
        <span class="modal-when"><p class="modal-heading"><i class="fa fa-clock-o"></i>When?</p><p class="modal-description"></p></span>
        <span class="modal-questions"><p class="modal-heading"><i class="fa fa-question-circle"></i>Questions to Ask:</p><ul></ul></span>
        <table class="modal-symbols table">
          <thead>
            <tr>
              <th colspan="2"><i class="fa fa-lg fa-key"></i>Symbols and Insights</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-back-to-encyclopedia" href="#" data-dismiss="modal" data-toggle="modal" data-target="#encyclopedia"><i class="fa fa-university"></i>Back to Encyclopedia</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
      </div>
    </div>
  </div>
</div>


<!-- Encyclopedia -->
<div class="modal fade" id="encyclopedia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-university"></i>Encyclopedia</h4>
      </div>
      <div class="modal-body">
        <div class="encyclopedia-list">
          <h3 class="encyclopedia-list-heading">&#9819; Major Arcana</h3>
          <ul class="encyclopedia-list-trumps"></ul>
          <h3 class="encyclopedia-list-heading">Wands</h3>
          <ul class="encyclopedia-list-wands"></ul>
          <h3 class="encyclopedia-list-heading">Cups</h3>
          <ul class="encyclopedia-list-cups"></ul>
          <h3 class="encyclopedia-list-heading">Swords</h3>
          <ul class="encyclopedia-list-swords"></ul>
          <h3 class="encyclopedia-list-heading">Coins</h3>
          <ul class="encyclopedia-list-coins"></ul>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->

<!-- local -->
<script src="./js/organon.js"></script>
<script src="./js/tarotdb.js"></script>