<% if user_signed_in? %>
 
<div class="container-fluid organon-table">
  <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="/">Magician Tarot 78</a>
      <div class="cbTitle2 cbFont3">Spread:</div>
        <select id='cbo_Spread' name="cbo_Spread" class="cbSpread cbFont2" onchange="return cbo_Spread_onchange(this)">
            <option  value="1">Ask Question</option>
            <option  value="2">Relationship</option>
            <option  value="3" selected>Past, Present, Future</option>
            <option  value="4">Ask Solution</option>
            <option  value="5">Transition</option>
            <option  value="6">10 Cards</option>
            <option  value="7">Clairvoyant</option>
        </select>
        
        <%= simple_form_for Setting.first, :method => :put, validate: true do |f| %>
            <%= f.select :setting01, [['Rider Waite Smith 1909', "images03"], 
                                ['Tarot of the New Vision', "images05"],
                                ['After Tarot', "images04"],
                                ['78 Doors Tarot', "images02"],
                                ['The Norse Tarot', "images01"],
                                ], {}, { :class => 'cbCardDeck cbFont2' , :onchange => 'this.form.submit()'} %>
        <% end %>
      <ul class="organon-menu-right">
          <li class="organon-encyclopedia"><a href="#" data-toggle="modal" data-target="#encyclopedia"><i class="fa fa-university"></i>Encyclopedia</a></li>
      </ul>
    </div>
    </nav>
</div>

 <% end %>

<script>
$("#cbo_Spread").change(function() { 
   window.location.pathname = $(this).val();
});

var xyz = "<%= request.env['PATH_INFO'] %>" ;
var n = xyz.lastIndexOf('/');
var xyzz = xyz.substring(n + 1);
window.onload = function () { document.getElementById("cbo_Spread").selectedIndex = xyzz - 1} ;

</script>
